<!--about.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="row half-bottom">

                        <div class="column large-6 tab-full">

                            <p><img src="https://files.mitchelletzel.com/about/about-1000.png" 
                                srcset="https://files.mitchelletzel.com/about/about-2000.png 2000w, 
                                https://files.mitchelletzel.com/about/about-1000.png 1000w, 
                                https://files.mitchelletzel.com/about/about-500.png 500w" 
                                sizes="(max-width: 2000px) 40vw, 2000px" alt="" class="about-border">
                            </p>

                        </div>

                        <div class="column large-6 tab-full">

                            <div class="table-responsive">

                                <table>
                                    <thead>
                                        <tr>
                                            <th style="color:#A619FF;"><br>My Education:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><b>Bachelors of Science in Computer Science</b><br>
                                        University of California, Santa Cruz<br>
                                        Attended: June '15 to March '18</td>
                                    </tr>
                                    <tr>
                                        <td><b>Associates of Science in Computer Science</b><br>
                                        Diablo Valley College, Pleasant Hill, CA<br>
                                        Attended: Janurary '13 to June '15</td>
                                    </tr>
                                    </tbody>
                                </table>
            
                            </div>

                        </div>
                        
                    </div> <!-- end row -->

                    <p>
                    &emsp;&emsp;<b style="font-size:28px;">B</b>y now you've hopefully guessed that my name is Mitchell Etzel 
                    and as a college graduate, as well as a recent member of the cloud and cyber-security industries, I've 
                    decided to maintain this blog to help foster and share some of my experiences in the hope that others may 
                    find them useful. The goal is to dedicate this website to the study of distributed systems and cyber-security, 
                    in addition to all topics I deem related along the way. Distributed systems are all around us and in most of 
                    the web services we use nowadays. Considering that they have only gotten more popular over the last twenty 
                    years, I believe they deserve a more thorough and discerning study. That also means that as an industry, 
                    through this study, we are quickly discovering that the web services we use in our day to day life are not as 
                    secure as we once imagined them to be. With different exploits like Spectre and Meltdown, boundaries that we 
                    once thought were insurmontable, like those between two virtual machines running on the same host, are now 
                    demonstratively not so impenetrable. One of the best goals that this blog could help to achieve is shedding a 
                    better light on how to make distributed systems more secure than they currently are.
                    </p>

                    <div class="table-responsive">

                        <table style="font-size:medium;">
                            <thead>
                                <tr>
                                    <th style="color:#A619FF;"><br></bt>Relevant Work History:</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <b><p style="text-align:left;">Software Engineer - Effectual
                                    <span style="float:right;">June 2020 - May 2021</span></p></b>
                                    <br><p style="text-align:left;">Team:
                                    <span style="float:right;">Professional Services</span></p>
                                    <p style="text-align:left;">Team Focus:
                                    <span style="float:right;">
                                        Migrating Corporations Into AWS Cloud Native Environments
                                    </span></p>
                                    <p style="text-align:left;">Main Languages:
                                    <span style="float:right;">Java, NodeJS, React</span></p>
                                    <p style="text-align:left;">Main Cloud Platforms Worked With:
                                    <span style="float:right;">AWS</span></p>
                                    Main Solo Project:
                                    <ul style="float:right;"><li>Migrated Multi-Million Dollar Big Data SaaS product to be AWS native</li>
                                    <li>Lead development of Java changes & Terraform/IaS for above client</li>
                                    <li>Contributed to Presto's Open Source to fix issues found in above work</li></ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b><p style="text-align:left;">Software Engineer - Les Schwab
                                    <span style="float:right;">November 2019 - May 2020</span></p></b>
                                    <br><p style="text-align:left;">Team:
                                    <span style="float:right;">Research, Architecture, and Development(RAD)</span></p>
                                    <p style="text-align:left;">Team Focus:
                                    <span style="float:right;">
                                        Designing/Implementing the Next Gen. Solutions for Les Schwab
                                    </span></p>
                                    <p style="text-align:left;">Main Languages:
                                    <span style="float:right;">NodeJS, React, Angular</span></p>
                                    <p style="text-align:left;">Main Cloud Platforms Worked With:
                                    <span style="float:right;">AWS, Azure</span></p>
                                    Main Solo Projects:
                                    <ul style="float:right;"><li>Increased security, testing, and efficiencies in existing projects/templates</li>
                                    <li>Architected/implemented the E.T.L. of million(+) record DynamoDB tables</li>
                                    <li>Independently wrote new tools/systems to improve customer interactions</li></ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b><p style="text-align:left;">Software Engineer - ShieldX Networks
                                    <span style="float:right;">June 2018 - July 2019</span></p></b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="text-align:left;">Software Engineer/Exploit Researcher:
                                    <span style="float:right;">January 2019 - July 2019</span></p>
                                    <br><p style="text-align:left;">Team:
                                    <span style="float:right;">Security/Exploit Mitigation Platform</span></p>
                                    <p style="text-align:left;">Team Focus:
                                    <span style="float:right;">
                                        Ensuring the Functionality/Quality of the ShieldX Security Offerings
                                    </span></p>
                                    <p style="text-align:left;">Main Languages:
                                    <span style="float:right;">C, Regular Expressions, XML</span></p>
                                    <p style="text-align:left;">Main Exploit Report Companies Worked With:
                                    <span style="float:right;">Telus, Idappcom, MITRE(CVE), ExploitDB</span></p>
                                    Main Solo Projects:
                                    <ul style="float:right;"><li>False Positive Fixes/Monitoring Customer Data</li>
                                    <li>Honeypot Setup/Research into Newly Seen Exploits</li>
                                    <li>Generate a Majority of the New 2019 Exploit Coverage</li></ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="text-align:left;">Software Engineer:
                                    <span style="float:right;">June 2018 - Janurary 2019</span></p>
                                    <br><p style="text-align:left;">Team:
                                    <span style="float:right;">Factory/Orchestration(Back-end) Team</span></p>
                                    <p style="text-align:left;">Team Focus:
                                    <span style="float:right;">
                                        Integrating the ShieldX Product with On/Off Premise Cloud Platforms
                                    </span></p>
                                    <p style="text-align:left;">Main Languages:
                                    <span style="float:right;">Java, Python, Bash</span></p>
                                    <p style="text-align:left;">Main Cloud Platforms Worked With:
                                    <span style="float:right;">VMware, Azure, AWS</span></p>
                                    Main Solo Projects:
                                    <ul style="float:right;"><li>Azure Load Balancer Sandwich Setup Automation</li>
                                    <li>Deploy Microservice Instance to a VM Folder (VMware)</li>
                                    <li>Multi-cloud VM Tag Discovery and use with Resource Groups</li></ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b><p style="text-align:left;">Student Internship - Product Owner
                                    <span style="float:right;">January 2017 - June 2017</span></p></b>
                                    Internship through the UCSC Baskin School of Engineering’s Corporate Sponsorship Program:
                                    <br><br>
                                    <ul>
                                        <li>
                                            SmartRevenue, a market research firm based out of Connecticut, came to us as a group 
                                            of students requesting help prototyping a system for determining a consumer’s 
                                            “digital path to purchase”
                                        </li>
                                        <li>
                                            Lead a team of 4 other students as Product Owner for the Data Collection Team, we 
                                            focused on the URLs visited and Android Applications used when participants opted 
                                            into our software
                                        </li>
                                        <li>
                                            Our team developed both a Chrome Extension and Android Application to help collect 
                                            data from the pool of over 50,000 people they use in their demographic studies
                                        </li>
                                        <li>
                                            Created a website using Amazon Web Services to act as an Administration Panel/Web 
                                            Interface for our Applications and Database
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
    
                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
