<!--article.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<br><br><br><br>

<div class="well" style="background-color:#DFF0D8;">

<form action="/feedback" method="post">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name:</span>
        <input type="text" name="name" class="form-control" placeholder="Name" aria-describedby="basic-addon1" maxlength="40" required>
    </div><br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon2" style="vertical-align: top;padding-top: 8px;">Feedback:</span>
        <textarea rows="8" cols="50" name="feedback" placeholder="Feedback" class="form-control" aria-describedby="basic-addon2" maxlength="1000" required></textarea>
    </div><br>
    <fieldset>
        <div align="center">
            <input type="radio" name="x" value="1" style="display:inline;" checked> Public Feedback&emsp;
            <input type="radio" name="x" value="2" style="display:inline;"> Private Feedback
        </div>
    </fieldset>
    <br>
    <input type="submit" value="Submit Feedback" style="display: block;margin: 0 auto;">
</form>

</div>

{{range .payload }}
<div class="panel panel-success">
    <div class="panel-heading">
        <!--Display the name -->
        <h2 class="panel-title" style="color:#A619FF;">{{.Name}} says:</h2>
    </div>
    <div class="panel-body">
        <!--Display the feedback -->
        <p>{{.Feedback}}</p>
    </div>
</div>
{{end}}