<!--header.html-->

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{.title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=1024">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/vendor.css">
    <link rel="stylesheet" href="/public/css/main.css">

    <!-- script
    ================================================== -->
    <script src="https://files.mitchelletzel.com/public/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://files.mitchelletzel.com/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://files.mitchelletzel.com/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://files.mitchelletzel.com/public/images/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">

</head>

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="/">
                        <img src="https://files.mitchelletzel.com/public/images/logo.svg" alt="Homepage">
                    </a>
                </div>

                <!-- toggles -->
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="/" title="">Home</a></li>
                    <li><a href="/posts" title="">Blog Posts</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">
                        <li><a href="/category/Disciplines">Disciplines</a></li>
                        <li><a href="/category/Distributed%20Systems">Distributed Systems</a></li>
                        <li><a href="/category/My%20Projects">My Projects</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact" title="">Contact Me</a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="https://files.mitchelletzel.com/Mitchell-Etzel's-Resume.pdf" title="">Resume</a></li>
                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-github">
                        <a href="https://github.com/etzelm" target="_blank">
                            <span class="screen-reader-text">GitHub</span>
                        </a>
                    </li>
                    <li class="ss-linkedin">
                        <a href="https://www.linkedin.com/in/etzelm/" target="_blank">
                            <span class="screen-reader-text">LinkedIn</span>
                        </a>
                    </li>
                    <li class="ss-email">
                        <a href="mailto:etzelm@live.com">
                            <span class="screen-reader-text">Email</span>
                        </a>
                    </li>
                </ul>

            </nav> <!-- end header__nav-wrap -->

            

        </header> <!-- end s-header -->