<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<br><br><br><br><br><br><br>

{{range .payload }}
<!--Create the link for the article based on its ID-->
<a style="color:MediumSeaGreen;" href="/article/view/{{.ID}}">
<!--Display the title of the article -->
<h2>{{.Title}}</h2>
</a>
<!--Display the time created of the article-->
<p>&emsp;&emsp;<u>Date Created:</u> {{.Created}}</p>
<!--Display the last time modified of the article-->
<p>&emsp;&emsp;<u>Last Modified:</u> {{.Modified}}</p>
<!--Display the content of the article-->
<p>&emsp;&emsp;{{.Blurb}}</p>
{{end}}


